# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class 

# Old scripts
obsolete_scripts/

# output
notebooks/figures/

# Folder storing damage statistic analysis.
create-damage-function/